[2015-07-14 01:56] weimingtom opened #1 "Crash when running on Android 4.2"
Crash when running on Android 4.2, because getExternalCacheDir() returns null.

1. Device:
	红米1 (Xiaomi 2013022, Android 4.2.1 API 17)

2. Code:
	commit fc7822c5258e36342e4e4a1d8e5dbd3867d8148d
	Date:   Sat Jul 4 16:34:14 2015 +0800
		Fix some problems caused by FavoriteManager

3. Exception StackTrace:
07-14 09:42:26.468    8328-8328/moe.feng.nhentai E/AndroidRuntime﹕ FATAL EXCEPTION: main
    ja

[2015-07-14 02:47] fython commented on #1
Thanks for your suggestion.

Fixed via 06017bd231edd33054134b0b8664ad23ea36c13d

[2015-07-14 02:47] #1 closed

[2015-09-16 06:21] fython opened #2 "Set a higher minimum SDK version for better supporting"
也許會失去很多用戶，不過這樣能放心的使用一些新特性而不用擔憂兼容性問題了（其實就是開發者很懶很懶，為了加快開發進度想了此下策）。

[2015-09-16 06:43] cthbleachbit commented on #2
兹磁，我现在手头的三棒S2电信定制机都有Lolipop了，我身边的HTC啥的也都升到5.x了

[2015-09-16 06:56] mouyase commented on #2
支持

[2015-09-16 06:57] Qixingchen commented on #2
​支持 5.X 大法好​

2015-09-16 14:56 GMT+08:00 某亚瑟 <notifications@github.com>:

[2015-09-16 07:22] drakeet commented on #2
兹磁~~~

[2015-09-16 07:23] TonyZzx commented on #2
肉肉肉！至少4.4好不好伐！（祖传4.4的米4很怨念

[2015-09-16 08:02] sflower1996 commented on #2
当然支持啊

[2015-09-24 07:49] dyguests commented on #2
作者好厉害,点个赞!
虽然我安卓手机才android19,虽然我不用安卓手机OTL.

[2015-09-27 04:49] Syborg49 opened #3 "Searching by tag or text gives looping result"
When searching for something with tags or a name it gives looping result. Continuously showing me the same things over and over again.

[2015-09-27 05:32] simonsmh opened #4 "Auto update suggestion"
Add auto update will be better :)

[2015-09-27 06:08] Syborg49 opened #5 "Not an isuue but if you can include the option to log into Nhentai account that'd be gold."

[2015-09-27 08:07] fython commented on #3
Thanks for feedback. I have found this problem, too. I will solve it in next version.

[2015-09-27 13:52] fython commented on #4
Thanks for your suggestion. I will have a try in the future.

[2015-09-27 13:54] fython commented on #2
鉴于机器 SDK 版本低于 21 的绅士不少，可能暂时不提高到 21，但也许会考虑提高到 Jellybean MR1（17）。

[2015-09-27 13:58] fython commented on #5
Logging in N-Hentai seems not to be able to get more operations. 😗

[2015-09-27 16:37] Syborg49 commented on #5
I do not understand, its not possible?

[2015-09-29 02:43] dyguests opened #6 "HomeFragment下拉时和CoordinatorLayout冲突怎么办?"
在HomeFragment下拉刷新和CoordinatorLayout的下拉显示Toolbar很容易同时触发.

[2015-09-30 10:31] fython commented on #6
1.1.0 新设计更新中我会逐步取代 Android Support Design Library，一方面是用不上，另一方面是太多 BUG 了。

[2015-09-30 10:31] #6 closed

[2015-10-01 01:54] #2 closed

[2015-10-01 12:55] dyguests opened #7 "GalleryActivity的mSeekBar拖拽正常,单击有问题."
作者晚上好:

拖拽时无问题,但是在单击Seekbar的时候:

        mSeekbar.setOnTouchListener((view, motionEvent) -> {
            if (motionEvent.getAction() == MotionEvent.ACTION_UP) {
                mPager.setCurrentItem(mSeekbar.getValue() - 1, false);
            }
            return view.onTouchEvent(motionEvent);
        });

1.若当前为第1页,点击seekbar的第100页.
2.此时 mSeekbar.getValue() 的取值为 1,而不是100.

分析原因是:
单击第100页后,当前see

[2015-10-01 14:49] fython commented on #7
非常谢谢你的反馈和分析。
个人感觉应该可以通过修改 Seekbar 的 OnPositionChangeListener 返回是否正在 seeking，从而达到只有切换结束才更换页面（避免更换过快容易导致OOM或者其他问题），我当初这么做只是偷一下懒~

[2015-10-01 22:55] dyguests commented on #7
或者用RxAndroid或者手写,实现间隔时间内不响应来解决oom.
因为别的漫画阅读器在拖拽的!!!过程中!!!也会跳转到新的页面,而不是只在拖拽!!!结束后!!!再跳转

[2015-10-02 16:49] fython commented on #7
@dyguests 233333

[2015-10-04 09:35] Syborg49 commented on #3
The problem still exists after 1.1.0 beta update.

[2015-10-04 13:06] fython commented on #3
I am sorry that I haven't enough time to deal with all problems. I have realized it only happened when there was the next page for the tags or search results, but the NHentai.net wouldn't return any error info.

BTW, please keep this issue open until I really fix it.

[2015-10-05 06:40] Syborg49 opened #9 "When searching by tag, a refresh returns blank page on 1.1.0 (11)"

[2015-10-05 06:42] fython commented on #3
Fixed 45d25e91019290948be46b4ae48d55ce4b100b18

[2015-10-05 06:42] #3 closed

[2015-10-05 06:44] fython commented on #9
This problem has existed for a long time QAQ. I am going to back to school so I might have not enough time to solve it. I'm sorry for this.

In fact, you can try to do a scroll gesture on blank page and it will display normally.

[2015-10-05 06:48] Syborg49 commented on #9
No problem. School comes first. If you have time, take a look at "EHviewer" by "seven332" it has some useful features like, page jump, Right side panel and other stuff. It'd be cool if you implement those.

[2015-10-05 06:51] fython commented on #9
Yes, I learned a lot from EhViewer project. For example, its tags view which is copied to NHBooks.

[2015-10-05 07:09] seasonyuu opened #10 "进入本子介绍界面的FAB位置异常"
![screenshot_moe feng nhentai_2015-10-05-15-02-43](https://cloud.githubusercontent.com/assets/8638535/10274645/8acfe88e-6b72-11e5-9227-60b8c319a030.png)
fab大概margin没处理好  另外遮挡住标题了

[2015-10-05 07:11] seasonyuu commented on #10
补充  设别 小米note标准版 MIUI7 4.4

[2015-10-05 07:11] fython commented on #10
是的，只有 SDK 21 以下出现这个问题。
虽然问题很简单我也没时间修了QAQ，欢迎提 Pull Request~

[2015-10-05 14:13] seasonyuu commented on #10
OK 很简单的东西

[2015-10-24 03:35] fython commented on #7
Fixed e5ce30339282b9e7e17cddafeb504b02037a2e5e

已用最新 Android Support Library v7 AppCompat 23.1.0 的 AppCompatSeekBar 代替

[2015-10-24 03:35] #7 closed

[2015-10-24 03:36] fython commented on #9
Fixed e5ce30339282b9e7e17cddafeb504b02037a2e5e

[2015-10-24 03:36] #9 closed

[2015-10-24 03:37] fython commented on #10
Fixed e5ce30339282b9e7e17cddafeb504b02037a2e5e

[2015-10-24 03:37] #10 closed

[2015-10-26 05:50] dyguests commented on #7
Got it.

[2015-11-02 20:33] Syborg49 opened #11 "Nhentai 1.1.1 Beta 13 crashes on Marshmallow.."
It opens and I can view saved books/categories but if I try to browse the latest books, it crashes. Everytime.

[2015-11-06 08:22] kebenxiaoming opened #12 "CoverFlow的文件名没有大写,写成了Coverflow"
改改吧，我这编译报错了

[2015-11-17 08:05] agentmario opened #13 "请添加自定义下载目录以及在每个下载文件夹加入 .nomedia"
一些图片出现在媒体库里影响不太好

[2015-11-22 07:20] fython commented on #13
感谢反馈

[2016-01-07 14:44] daxpyth opened #14 "Add multiple tags in favorite category"
Can you add a feature to add multiple tags for category?
For example "language:english tag:glasses tag:milf". It would be cool if we could create our favorite category by check boxing list of tags.

[2016-01-10 04:49] fython commented on #14
Sorry, NHentai.net is not supported for filtering by multiple tags.

[2016-01-10 04:49] #14 closed

[2016-01-10 04:49] fython commented on #13
已加入了 .nomedia，自定义下载目录暂不考虑。

[2016-01-10 04:50] #13 closed

[2016-01-17 17:58] agentmario opened #15 "1.1.2 beta 16 点击“存储”时 FC"
我的系统是 CM12.1, 有外置存储卡。在点击“设置-存储”时会 FC

[2016-01-18 16:20] mikaoras commented on #12
+1
手动改编译通过

[2016-01-18 16:24] mikaoras opened #16 "提问→如何用json处理"
RT
这边有一个kimo的反代，于是json处理起来比较快
之前是用volley直接jSONArray，但是挪到这里直接改pageapi和bookapi的话一直编译不过去（JSONException try了但是还是报错）
想问下是改的地方不对吗QAQ

[2016-01-23 05:44] fython commented on #16
我也不是很了解……等我放假看看加一个第三方 API 支持吧

[2016-01-23 12:42] mikaoras commented on #16
QWQ 感谢
现在是用php处理json然后再用jsoup读..感觉好累（

[2016-03-18 04:50] frankwei98 opened #18 "名称许可"
烧饼你好,

请问我能不能用 NHBook 这个名字来开发网站或者开发iOS的 App ?

顺提 我可以免费提供CDN来规避墙的限制（现在不挂SS不能打开）

[2016-03-22 01:28] fython commented on #18
很抱歉现在才回复。

我不是很清楚名称使用授权这一块，或许你可以不用我的授权直接使用，但我个人是不希望其他人使用，主要是想让这个应用保持低调。
所以我也不打算加入 CDN 或其他中转服务，让墙成为一个使用门槛。（不排除支持自定义第三方 API 来源，允许用户自行添加源）

[2016-03-22 01:28] #18 closed

[2016-03-24 09:27] frankwei98 commented on #18
行 那我换个名字吧
顺便问一下要不要 NHBook.xyz 这个域名 我刚注册没多久 可以免费转让给你哦

[2016-03-27 01:44] fython commented on #18
不用了，谢谢啦

[2016-04-11 05:55] Norpordorp opened #19 "App crashes when you click on Storage in the settings."
Not really sure why this happens.

[2016-04-16 03:21] fython commented on #19
Have you given NHBooks the permission of reading and writing internal storage?

[2016-04-27 18:11] mattyVo opened #20 "Network Issue"
I've been experiencing difficulty with the latest build of the app on android lollipop.
The App has trouble connecting to nHentai and doesn't display any content even though
the internet connection is live and well on my phone and can load the site without any problem.
if anyone has a solution to this problem Please let me know, Thank you!

[2016-04-30 04:42] fython commented on #20
I am also wondering what causes this problem. There are also many users who reported this.

I have a thought to solve it but I am busy in study. Please wait for about a month.

[2016-04-30 21:50] mattyVo commented on #20
Thank you for getting back to me on this issue.
I have no problem waiting if it improves the app and fixes the problem.
Best of luck.
and thanks once again.

[2016-05-01 03:18] #12 closed

[2016-05-01 03:18] fython commented on #12
已修復

[2016-05-01 10:21] dyguests opened #23 "跪求加入横屏浏览+后台下载"
烧饼好,我是看着你的App长大的.

没想到5.1也会有更新呢!!! O w O !!!

能不能加入 横屏浏览 呢,我的手机很小的OTL.
还有后台下载.

我这里有现成的代码O  O:(https://github.com/dyguests/Doujin-moe-Android)

[2016-06-03 06:37] noncharacter opened #25 "对于连接网站的问题"
nhentai在网页中直连都可以，而在这个app中挂载各种VPN就是才能连接，而且有时加载不出来图片，怎么回事？ 祝：高考顺利！

[2016-06-03 15:52] noncharacter commented on #25
API中的http://nhentai换成https好像能直连。。

[2016-06-08 16:14] eroneko commented on #25
任何图片都加载不出来呢，今天高考结束了呢

[2016-06-09 00:14] noncharacter commented on #25
是的，app任何图片都加载不出来。我尝试把里面关于nhentai的网站改成https，可以看到封面，但点进去就闪退。。

[2016-06-20 03:25] #19 closed

[2016-06-20 03:25] #11 closed

[2016-06-20 16:23] nhentai opened #27 "nhentai.net API"
You can use the undocumented API https://nhentai.net/g/110631/json for getting gallery info, it should be self-explanatory.

[2016-06-21 10:15] fython commented on #27
Thanks for providing this way. I will try it and I hope it can print out the data of "More Like This".

By the way, it's better for us to provide the API of lists.

[2016-06-21 15:01] nhentai commented on #27
Sure. I'll add those in and let you know when I'm done.

[2016-06-30 08:03] NotCR commented on #27
@nhentai dont wanna be rude but, how´s progress going? Im eager to try to use the new
undocumented API

[2016-06-30 21:27] nhentai commented on #27
Should be live today or tomorrow. I'll post more details here.

[2016-07-01 01:53] nhentai commented on #27
Here are a few endpoints:

https://nhentai.net/api/galleries/search?query=naruto&page=2
https://nhentai.net/api/galleries/all?page=3
https://nhentai.net/api/galleries/tagged?tag_id=123&page=2
https://nhentai.net/api/gallery/123

Let me know if you need any other ones.

[2016-07-03 06:05] NotCR commented on #27
@nhentai thanks, gonna look into it this week. probably Thursday and Friday

[2016-07-03 20:26] NotCR commented on #27
@nhentai Is it possible to get the recommended mangas for galleries? Other than that looks pretty good to me

[2016-07-04 02:06] fython commented on #25
现在部分运营商网络可以借助 HTTPS 直连了~

[2016-07-04 02:06] #25 closed

[2016-07-04 14:39] nhentai commented on #27
What information do you need about the recommended galleries? I'd like to minimize the number of requests to the API, but I'd also rather not have enormous responses.

Also, could you please add a descriptive user agent to your app? There are a few apps floating around and I'd like to be able to contact one of you if problems arise.

[2016-07-05 06:46] NotCR commented on #27
if in the galley/123 example you could add the galleries id and title of 4-5 recommended books would be perfect (Dont think it will make the response that big)

For the descriptive user agent its okay to use a normal browser user agent with a few alterations to match our app name or do you prefer a completely personalized user agent?
@fython any opinions about this?

[2016-07-05 15:11] fython commented on #27
@nhentai Okay, I will add a descriptive user agent to NHBooks.

[2016-07-10 18:11] NotCR commented on #20
Hey @mattyVo can you test the new version and see if the problem persists

[2016-07-10 23:27] nhentai commented on #27
I'll add the recommendations to the API in the next day or two. As for the user agent, anything works, as long as it's clear that it's this app.

[2016-07-13 17:32] nhentai commented on #27
Here you go: https://nhentai.net/api/gallery/123/related

[2016-07-19 07:39] NotCR commented on #27
Hey @nhentai thanks for the API, we dont actually use the widht and height of the images, we only use the image count. And because its the thing that takes most of the space of response, i dont see a problem just sending the number of pages of each gallery instead of all the sizes of each page. what do you think @fython ? (Im finishing the API integration, updating soon)

[2016-07-19 09:26] fython commented on #27
I have no idea. It is better to reduce NHentai's server load. @nhentai

[2016-07-19 16:55] nhentai commented on #27
That works. Can I just send you a packed image extension string (Where `p` and `j` represent PNG and JPEG)?

    "images": "ppjjjjjjjjjjjjjjj"

[2016-07-19 17:56] NotCR commented on #27
@nhentai Yeah that works.

[2016-07-20 00:59] NotCR commented on #27
Okay guys, i just pushed the changes.

@nhentai can you confirm this. When calling:
https://nhentai.net/api/galleries/tagged?tag_id=123&page=2&sort=popular (With Sort)
the response is different, just want to know if the sort is working  properly.

@fython i think i made a mess with the cache directories and stuff (Everything works fine). I am going to start ordering cache in their correct folders,

[2016-07-22 15:53] nhentai commented on #27
Different from what?

[2016-07-23 03:54] NotCR commented on #27
this https://nhentai.net/api/galleries/tagged?tag_id=123&page=2&sort=popular

and this https://nhentai.net/api/galleries/tagged?tag_id=123&page=2

The difference is the sort. It matches with the web version, but you never mentioned the sorting being avaliable. Glad it works tho.

[2016-07-25 02:11] xXShiina opened #35 "Storage in settings restarts app"
I'm not sure if this is only me but, When I go to settings in the app and select storage, the app will say that it has stopped responding, then it will restart.

[2016-07-25 03:18] NotCR commented on #35
What version are you using? The latest apk in releases or did you compile the source?

[2016-07-25 03:35] NotCR commented on #35
Also. check if you are giving storage permissions to the app in Settings->app->NHBooks->Permissions

[2016-07-25 03:35] xXShiina commented on #35
I'm using version 1.4.0(21). I just cloned the repository from the front page. I assumed that was the latest version.

Granted I really don't know how to use github.

[2016-07-25 03:37] xXShiina commented on #35
I've also granted permissions to the app. But I recently found out that my SD card for my phone is in write protection, but I'm not sure if that affects anything.

[2016-07-25 03:39] NotCR commented on #35
we dont actually use the sd card, we use the internal storage. I cannot replicate the problem. if you could use Android Studio to get the exact error, it would be really helpful

[2016-07-25 03:40] NotCR commented on #35
Apart from that really strange problem, is everything working okay or as expected?

[2016-07-25 04:05] xXShiina commented on #35
Just a question, How would I simulate the error in Android Studio? It was really a miracle that I actually figured out how to get the app to my phone at all lol.

I really don't understand Android Studio, So I'm not sure if I could simulate the error. Unless its just connecting my phone to the computer and then running the app with Android Studio enabled then try to open the storage in the app.

[2016-07-25 04:12] NotCR commented on #35
Yeah, connect your phone, press play in android studio, select your phone  and try to open the storage in settings. If an error occurs you can see it on the Android Monitor TAB. Example Below (Im using a simulator)

![image](https://cloud.githubusercontent.com/assets/16932169/17090192/f8ce58bc-51f3-11e6-8573-e5528ba2754f.png)

[2016-07-26 05:00] xXShiina commented on #35
Alrigjt, Sorry for the delay in my response.

I think this is the file that you need.

[idea.zip](https://github.com/FengMoeTeam/NHentai-android/files/383055/idea.zip)

[2016-07-26 09:00] NotCR commented on #35
okay boy, should be fixed in https://github.com/FengMoeTeam/NHentai-android/commit/ebf64a0f54211213323e98ab94bebf763741c22c that is now live. Update the project and u should be good to go

Just confirm that the change fixes the problem (It was fixed on 2 emulators with android 4.2 and 4.4 in my side)

[2016-07-29 06:18] kingcit opened #37 "Suggestion: navigate forward/backward with volume keys"
It would be great to get a toggle to navigate forwards and backwards with tar volume keys.

[2016-07-29 14:04] fython commented on #37
It's a good idea. In fact, I have made a plan to make this feature.

[2016-07-30 01:04] NotCR commented on #37
@kingcit there you go buddy.It is now live with https://github.com/FengMoeTeam/NHentai-android/commit/d1e1f8ebdd878279c07ce0933f54c6ea4b64f58f, update your android studio project or wait a little bit for the apk release.

 Volume Down for Next, Volume Up for previous

@fython want me to do a new release with APK with all the changes?

[2016-07-30 07:48] NotCR commented on #35
@xXShiina can you confirm the fix so i can close this issue please

[2016-07-30 08:49] NotCR commented on #19
@Norpordorp @fython I know its closed but its fixed in https://github.com/FengMoeTeam/NHentai-android/pull/36

[2016-07-31 03:16] fython commented on #37
@NotCR Good. You can simply write release logs in English.

[2016-07-31 03:26] NotCR commented on #37
@fython I think it will be a problem if i upload the apk because it will be signed with another account.(Forcing them to uninstall and losing their favorites in the process)

What about i make the release info and you add the apk and the source codes so they are not forced to uninstall, sounds good?

[2016-07-31 05:56] fython commented on #37
Oh, I forgot to give you the key. Can you write down your email? @NotCR

[2016-07-31 07:04] NotCR commented on #37
@notcr94@gmail.com

[2016-07-31 09:34] #35 closed

[2016-07-31 09:34] #37 closed

[2016-08-07 04:56] BattlePizza opened #47 "Background downloads"
Currently it takes more than 5 minutes to download a book, and meanwhile I can't do anything with my phone. Please include background download and if possible, multi-thread download as well.

[2016-08-08 04:29] NotCR commented on #27
@nhentai Hey Boy, with 1.6.3 (Latest Release) i introduced the custom user agent you wanted.
Can you check from your side that it works please.

[2016-08-08 04:34] NotCR commented on #47
Hi @BattlePizza, with 1.6.3 i moved downloading books to the background (I had that in my mind for a long time) , you should now be able to continue using the phone. Apart from that i think multi-thread can be used, going to start checking that.

P.S: What do you think of the app (Perfomance / UX) ? have some ideas to make it better?

[2016-08-10 04:12] talatuanpro opened #49 "Is this app support Android 4.2?"
I always get this error:

`There is a Problem Parsing the Package.`

I'm using LG-LU6200.

[2016-08-10 04:27] NotCR commented on #49
Yes It does API 17 onward (4.2)

1 of 2 - Bad download of the apk or u have installed an older apk signed by someone else (Not Us).

Do you have an older version of the app? is it the first time you install it?

[2016-08-10 12:20] talatuanpro commented on #49
This is my first time download this.
And i don't have any older version of this app.

[2016-08-10 16:08] BattlePizza commented on #47
Hi, thanks for letting me know, glad to hear it!
As for the UX, I think it's good enough for now, although I think if you can add a default language filter that can be set in settings it will be great!

[2016-08-10 16:10] BattlePizza commented on #47
Also, probably an auto update system for the app? Or at least a notification of new versions available so we know when to update?

[2016-08-10 16:23] NotCR commented on #47
Thanks for the feedback. I am actually working in the auto update feature (Notification + redirect link ). And the default language sounds interesting, going to give it thought.

[2016-08-11 06:43] talatuanpro commented on #49
I tried app-release, it worked.
Sometimes app crash when i finish reading and press <-- on screen. But that's okay. I guess when i upgrade Android to 4.2, i forgot something...
Anyways, thanks!

[2016-08-11 06:57] NotCR commented on #49
can you do me a favor in  internalstorage/NHBooks/Logs there should be all of your crashlogs, if you can post them here in zip i might be able to see whats causing the crash.

[2016-08-12 15:30] BattlePizza commented on #47
Yea, because sometimes things in languages that you don't understand mix in and stuff, you know.

[2016-08-22 19:16] PhongTong opened #50 "Refresh images when reading"
Can you make an option for refresh images when reading ? Some pics failed to load so I have to go back to the main doujin page and load it again. Thank you

[2016-08-28 12:10] BattlePizza opened #51 "Invalid folder names (for Windows) generated, disturbing backup"
So today I was making a backup of my phone, copied stuff to the SD card, but found out that my computer wouldn't copy my files to my file server. I used robocopy instead and noticed some 60 failed copies, pointing to NHBooks directory. I found out that the folder name generated automatically was invalid for Windows, for example:
`(C89) [odin (Kurokawa IZUMI)] TRAP! Kashima-san wa Wana ni Hameraret

[2016-09-01 01:00] NotCR commented on #51
Thanks for reporting this problem. I will try to fix it for the next release.

[2016-09-01 01:03] NotCR commented on #50
I will try to add the option to refresh image. I think that the problem is with downloading the image from their server taking too long. Will look into this.

Thanks for reporting the issue.

[2016-09-04 20:43] daggertom opened #52 "Storage issue"
Fails to load images if there is no External storage available - eg, previously using SD card as storage, and then SD is corrupt resulting in no External storage, even if internal storage is available the app does not appear to use it for images

[2016-10-02 03:08] AlphaOmega3 opened #53 "Black theme AMOLED"
Add a black theme "AMOLED" foe save the battery

[2016-10-02 03:12] AlphaOmega3 opened #54 "Proxy support?"
I use Orbot.. always. So, is possible add an full integratio with Orbot/I2P services?? (For example, in the setting, add a button "use Orbot"/I2P or manually configure proxy details)

[2016-10-02 03:13] AlphaOmega3 opened #55 "Download folder"
Add the ability to manually set the download destination folder of the app

[2016-10-02 03:14] BattlePizza commented on #55
I would like to save on SD card.

[2016-10-02 03:15] AlfaOmega33 opened #56 "Delete history"
add the button "delete history"

[2016-10-02 03:20] AlphaOmega3 commented on #55
I do not .. the new Nexus does not support SD cards, only USB. I suggest, if you asked for a function of privacy, to download "Zarchiver Pro", to encrypt files

P.S: sei italiano?

[2016-10-02 03:22] BattlePizza commented on #55
Nexuses are not the only Android phones around. It's nothing about privacy.
And sorry, I don't speak Italian.

[2016-10-02 03:28] AlphaOmega3 commented on #55
Lol quiet, I was curious because I saw your same user name in a forum and I asked.

Rather, you may recommend a viable alternative to the Nexus devices? for example, with removable battery and / or a few changes sowtware .. normally I would use CyanogenMod, but it's a long time since released a stable version ..

[2016-10-02 14:46] BattlePizza commented on #55
And what forum is that?

On Sun, Oct 2, 2016, 14:28 AlphaOmega3 <notifications@github.com> wrote:

[2016-10-02 15:30] AlphaOmega3 commented on #55
http://www.militariforum.it/forum/index.php

[2016-10-03 04:29] gnujedi commented on #54
Came here to say the same thing. Good infosec requires onion routing. I decided that I won't be using this app unless I can route over the Tor network.

[2016-10-04 08:09] panslothda opened #58 "Keeps crashing"
Im using a oneplusone with cyanogenmod android 6.0.1 appversion NHBooks-1.6.3-beta30.apk

The app keeps on crashing every few minutes. sometime it takes 5 seconds after opening the app sometimes it works for 5 minute without problem. its completely random and no pattern is emerging.

I tried starting only app after restarting phone to verify it isn't a ram issue. Keeps on crashing. There is over 3

[2016-10-09 07:00] NotCR commented on #58
Can you please check in internal storage/NHBooks/logs and attach them in a zip so i can debug them, thanks

[2016-10-09 11:09] panslothda commented on #58
Sure :) Heres the folder.
[Logs.zip](https://github.com/FengMoeTeam/NHentai-android/files/518250/Logs.zip)

[2016-10-10 14:54] panslothda commented on #58
Btw i just realised that. A nice feature to have would be a function that would look through the downloaded folders and see if any of them are near finished but not really and would automatically resume the downloads. because i have quite some Downloaded but alot of them are half finished because the app crashed and sometimes its hard to see which ones are fully downloaded or not by only looking i

[2016-10-30 05:35] jordyamc opened #59 "Empty result when making a search from a search result"
When doing a search from a search result the screen show any result

[2016-11-09 15:28] kaoru0429 commented on #59
You've back to the Homepage，then do the 2nd search

[2016-11-10 02:12] jordyamc commented on #59
i know, but i think the point of putting a search bar in the search result is to make another search from there

[2016-11-13 09:25] NotCR commented on #59
Hello guys, sorry for the silence i have a ton of work. I cant reproduce this issue myself, im searching something and inside the result page  im searching again, but for me its giving me the proper result of the new query to search. Am i missing something to reproduce it?

[2016-11-13 09:29] NotCR commented on #58
Hello there, i checked the logs but unfortunetly whatever its crashing the app is from one plus, its crashing in one of the android core libraries (nothing i can actually debug). im going to release a update (soon TM) with a few library updates hoping it fixes the issue

[2016-11-13 09:44] NotCR commented on #27
@nhentai I have some problems with the API. some queries return son strange errors.
Ex.
https://nhentai.net/api/galleries/search?query=naruto&page=1
returns
{"error": "Gallery matching query does not exist."}

but
https://nhentai.net/api/galleries/search?query=naruto&page=2
return the info correctly

PS. I think the user agent think is resolved can you check

[2016-11-13 21:17] panslothda commented on #58
ok nice :) i was able to reproduce and isolate the issue int he meantime. it happens when i open a doujhin page and then before it finishes loading and is just a white screen when i press back either on top of the screen or with android back it crashes by me. maybe that helps but its still ok tough since i know now what not todo

[2016-11-14 00:32] NotCR commented on #56
added in last release

[2016-11-14 02:18] NotCR commented on #59
guys should be fixed in the new release, can you guys check

[2016-11-14 02:20] NotCR commented on #58
hey there, i just released an update upgrading all of the android core libraries and fixing other things. Can you check if the problem exists, and if it does can u send me the new logs to check them

[2016-11-14 14:44] jordyamc commented on #59
@NotCR yes. is solved :)

[2016-11-17 11:35] panslothda commented on #58
So i updated and well now it doesn't crash anymore while going back.. but everytime i open the saved books page and scroll down further then the 4 first doujins it crashes. 100 % reproducible.
[Logs.tar.gz](https://github.com/FengMoeTeam/NHentai-android/files/597202/Logs.tar.gz)

i uploaded the logs folder but i don't think it generates as the last logs where made a week ago and i crashed the appl

[2016-11-18 08:17] NotCR commented on #58
@panslothda the zip folder is empty, but my guess its that in /internal storage/nhentai/books theres a folder named "null", erasing it should fix the problem.

[2016-11-18 10:55] panslothda commented on #58
yep that fixed it :)

And how the heck did i manage to upload a empty folder XD

Anyhow seems like its all working now .

Thank you so much for all of your work :T

[2016-11-18 21:28] NotCR commented on #58
im pretty sure it has to do with this in my release disclaimer.

1 When upgrading don't use the app for 30 seconds so it can update the data of the old saved books and old favorite books. (If you have many saved books or favorite books consider leaving it a little longer 1-2 minutes)

i dont know where exactly is creating the null folder, but im going to refine the algorithm to check for nulls and

[2016-11-19 00:33] panslothda commented on #58
Hmm that would surprise me because i opened the app and left the phone just do its magic after opening the app for aroubd 20 minutes...

But i had a null folder beforehand. Like in the saved books tab i had a doujhin with the name null und no pictures and it was empty.

Had that since a few weeks inside the app.

[2016-11-21 08:17] NotCR commented on #58
@panslothda new version up should fix the null directory being scanned + Auto Update feature (Beta)(It Works)

[2016-11-21 20:25] NotCR commented on #4
Added in latest release

[2016-11-21 20:25] #4 closed

[2016-11-23 07:59] krt16s opened #67 "Missing resource"
Building fails here with:

[code]

[2016-12-12 10:32] panslothda commented on #58
Using 1.7.2 i keep on getting crashes but now they arent in a pattern. Completly random sometines in search function sometimes i. Reading something

[2017-01-08 16:38] randomemailaddress opened #69 "Images don't load"
Suddenly the images wouldn't load anymore, i can still see the galleries but no images, downloading doesn't work either
I've looked in /sdcard/NHbooks/Logs but i didn't find anything related.
It doesn't seem to be network-related, since the website still works in-browser and since i've tested it out with a different dns-server set - it still doesn't work
this has been going on for a while now, i t

[2017-01-14 02:43] NotCR commented on #69
@randomemailaddress check in /sdcard/NHBooks/Books if there is null folder and delete it (I dont think its related), if there are logs i can check them without a problem to see if something its related. I cannot reproduce the issue on any of my devices, emulators, etc, so im throwing some guesses here

[2017-01-18 15:47] nhentai commented on #27
@NotCR The user agent string works. Do you rate limit requests at all?

[2017-01-25 23:40] crankshaftman opened #70 "use gallery id instead of gallery name for folder name (and cache?) or let me rename it"
my android doesn't support　|\<>/"?*:　for files and folders name

many galleries name contains one or more characters I mentioned above

so I can't save any galleries, and images doesn't show up

galleries without those characters above works perfectly fine though

sorry for my bad english, thank you

[2017-01-28 15:13] NotCR commented on #70
i had this in mind since a while a go, going to try to implement it for next update. Thanks for your feedback.

[2017-01-30 03:31] NotCR commented on #70
should be fixed in latest release.

[2017-01-30 03:31] NotCR commented on #69
latest update clears cache and changes how its saved, can you check if this fixes the problem for you.

[2017-01-30 03:32] NotCR commented on #67
Can you check with the latest updates, i think is a bad download problem

[2017-01-30 03:35] NotCR commented on #58
@panslothda this is a one plus specific problem with their android libraries implementation or at least that's where the problem is pointing (Android Motion Event).

[2017-01-30 03:35] #59 closed

[2017-01-30 03:35] #49 closed

[2017-01-30 03:36] NotCR commented on #27
No we dont, its that a problem?

[2017-01-31 17:06] panslothda commented on #58
Hmm ok so i guess then cant change it. Oh well gotta live with random crashes then^^ should i close ticket?

[2017-02-10 17:07] leo1028 opened #71 "403 Forbidden"
I think I am blocked by the website. When I enter it, the "403 Forbidden" is shown. However I can enter it with VPN. I think the reason I get blocked is using this apps. Can I get some help?

我好像被nhentai封了, 一進去就"403 Forbidden"，但用vpn可以進，我想原因是因為這個應用，你們能幫幫我嗎？

[2017-02-11 05:25] maximum800 commented on #58
I have the same problem, plus I can not save or download anything (a sort of permission error  occurs on android 6.)

[2017-02-11 07:35] NotCR commented on #71
We are using the official api provided by @nhentai. If 403 errors are poping your best shot is asking the site manager itself. You can ask him on the official discord group (https://discordapp.com/invite/012EsGIEBn5dcxynK ) or sending an email to hey@nhentai.net.

[2017-02-11 08:17] leo1028 commented on #71
Thank you for the advice. I will try to ask them

Sent from my ASUS

-------- Original Message --------
From:NotCR
Sent:Sat, 11 Feb 2017 15:36:02 +0800
To:FengMoeTeam/NHentai-android
Cc:leo1028 ,Author
Subject:Re: [FengMoeTeam/NHentai-android] 403 Forbidden (#71)

We are using the official api provided by @nhentai<https://github.com/nhentai>. If 403 errors are poping your best shot is asking the s

[2017-02-12 03:45] nhentai commented on #27
@NotCR Your app sends a lot of API requests very quickly and users get automatically banned. Can you reduce the number of requests you send or implement some sort of rate limiting? If there's info that the API isn't providing, let me know.

[2017-02-18 02:02] Ruby-roo commented on #27
It seems like the app is is fetching all the images in a book, which is what might be causing that. So if a book has 50 pages and I only see 10, it'll still download the rest it seems. @nhentai

[2017-04-23 04:52] JulianLai opened #77 "希望可以在 Linux 使用到原生的 NHentai 桌面客户端"

[2017-04-23 09:38] fython commented on #77
为什么不直接上网页呢？

[2017-04-23 10:21] fython commented on #77
这个项目只维护 Android 版本，而且我也差不多算是弃坑了，很抱歉我不会继续制作其它版本的 NHBooks 了。

[2017-04-23 10:21] #77 closed

[2017-04-29 21:38] #56 closed

[2017-05-25 04:06] ling2433 opened #78 "a bug?"
when I search for "kiyokawa", the program will stop running.

[2017-05-25 04:11] ling2433 commented on #78
The program version is 1.8.3（35）

[2017-06-08 09:59] ArchieMeng commented on #78
yes, a bug. Caused by [Kiyokawa Zaidan] Kaa-san de Suma Sechainasai [Chinese] [新手獨自一人漢化]

[2017-06-17 16:25] #58 closed

[2017-07-03 07:47] NotCR commented on #78
Fixed in latest version with commit (https://github.com/FengMoeTeam/NHentai-android/commit/e1db9e798181bd28c58450c556754c41445b6242)

[2017-07-03 14:44] Beckylemmesmash opened #81 "[API] Official RESTful API response error"
Basically, I opened NHBooks and it told me there was an update, I tried to download and it failed. So what I did was, I uninstalled the 1.8.3 version of NHBooks to install the 1.8.4 version, and after all that's done - after everything was looking good - "Can't connect to NHentai" I tried everything on my phone, use vpn and connect, uninstall NHBooks and install it again, restart my phone.. everyt

[2017-07-03 14:44] Beckylemmesmash commented on #81
@NotCR

[2017-07-03 16:25] advrieldra commented on #81
yeah i have same problem,

[2017-07-04 03:55] kenziefc commented on #81
Pretty sure this is from nhentai's backend, their API request returns error.

[2017-07-04 07:47] NotCR commented on #81
Nhentai backend Is returning {"error": true}. maybe @nhentai Is doing upgrades

[2017-07-04 07:48] #70 closed

[2017-07-04 07:52] NotCR commented on #78
@ling2433 can you please test Sith latest version

[2017-07-04 12:46] ianeva commented on #81
Me 2,
when I update, there's suck. then I had to Downgrade to 1.8.3(Beta 35) but also can't connect to them.
there's 2 condition I can use it : searching with tittle(not works any title of book) and random search

[2017-07-04 12:47] ianeva commented on #81
help us.

[2017-07-04 12:56] ianeva commented on #81
@nhentai
@NotCR
@Beckylemmesmash

[2017-07-04 15:40] Arrow-C opened #82 "总是连接不上"
连接不上NHentai，VPN也挂了，就是用不了。望修复

[2017-07-04 16:29] Beckylemmesmash commented on #81
I can't do anything so I'm in the same position you're in, @ianeva. So, let's leave it to the devs and hopefully, they fix it.

[2017-07-04 19:06] NotCR commented on #81
@ianeva  @Beckylemmesmash  @advrieldra Reported the problem to the site owner(@nhentai). He is going to check whats happening

[2017-07-05 02:13] kowith337 commented on #81
Same here, but I didn't upgrade to latest version due to I've installed from F-Droid repo, currently F-Droid didn't build new version yet.

I can access favourite books and saved books, but sometime can lead to app crash.

Maybe I need to wait until newer update than 1.8.4 or until NHentai fixed the API problem.

[2017-07-05 04:27] fython commented on #82
官方 API 目前出问题了，待站长确认。

[2017-07-05 04:27] fython commented on #82
本 Issue 关闭，请转至 #81 讨论。

[2017-07-05 04:27] #82 closed

[2017-07-05 10:04] ianeva commented on #81
Thank You,
waiting for fix with web mode :3

[2017-07-05 10:19] Beckylemmesmash commented on #81
Thank you so much, @NotCR!

[2017-07-07 06:58] NotCR commented on #81
@Beckylemmesmash @ianeva @kowith337 @kenziefc  @advrieldra looks like its fixed i can normally browse again

[2017-07-07 09:05] Arrow-C opened #83 "新版本的本子封面有问题"
新版本里的封面都被强制拉伸或压缩到了同样尺寸，很不美观，希望下次更新可以修改一下这个设置

[2017-07-07 12:13] ianeva commented on #81
thank you,
Works for me
@NotCR
@nhentai

[2017-07-07 13:34] Beckylemmesmash commented on #81
Thank you so much for fixing the issue, @nhentai @NotCr! Cheers!

[2017-07-07 13:34] #81 closed

[2017-07-11 05:54] Reiniel opened #84 "Update Problem"
Hi. I tried to update ver. 1.8.3 but it can't update, always error. So I uninstalled the app and tried to download the new version in this site but it can't be downloaded.

[2017-07-13 11:41] yaoguaishou commented on #84
i think github.com was banning in your area,try proxy.

[2017-09-27 20:18] BobbyWibowo opened #86 "Vertical scroll bar?"
Can we have vertical scroll bar for favorite and saved books pages? I currently have lots of series downloaded since storage isn't an issue, so my saved books page has too many entries. Due to the absence of a scroll bar, I have to manually scroll the entire page to the bottom to re-read recently downloaded ones (which is very inconvenient). If there was a scroll bar, I would have been able to pul

[2017-09-27 20:22] BobbyWibowo opened #87 "Searching by gallery ID?"
Basically simply entering the gallery ID in the search bar should immediately display the said gallery if it existed.
It used to work that way in some of the older versions (I can't remember which versions exactly), but it no longer works with the latest version which I assume is 1.8.4 (36) when submitting this request.

I may be wrong when I claimed it worked in some of the older versions though,

[2017-11-24 09:33] yogaap24 opened #88 "Network Issue 2"
nWhy connection to nHentai always failed,when I clone latest repository

[2017-11-28 06:35] NotCR commented on #88
I dont have problems connecting, is the normal site blocked in your country? Heard some countries banned the site

[2017-12-04 11:43] fython opened #89 "[Dev TO-DO] Use Kotlinx.serialization instead of Gson as json parser"
Since I change Kotlin as main developing language for project, I can use [kotlinx.serialization](https://github.com/kotlin/kotlinx.serialization) as serialization library.

- [ ] Introduce package
- [ ] Adapt to Hawk

[2017-12-17 11:19] ytamino opened #91 "New problem"
When I click some of my favorites,the program will stop running. And some manga can not be seached now which could be showed up.

[2017-12-22 23:20] Omagician opened #92 "Possible to link account?"
Is or possible to link nhentai accounts to the app so that are favorites can be accessed.

[2017-12-31 16:11] protoloo opened #93 "disable the continuous scroll"
Please add an option to disable the continuous scroll and use pages instead (1, 2, etc.)

[2017-12-31 16:12] protoloo opened #94 "specify search parameters"
specify search parameters in the option for optimize the search: "English only" or "not English", etc..

[2017-12-31 16:13] protoloo opened #95 "programmable random key"
Please add an option to make programmable the random key to include / exclude content

[2017-12-31 16:14] protoloo opened #96 "add more informations for the books"
Please add more informations for the books; in particular: total size + numbers of pics + informations to distinguish duplicates and / or to find out which one is the most recent

[2017-12-31 16:20] protoloo opened #97 "web site informations"
As the title suggests, I would like you to add web site informations + guide for search in to the app and to make the app more versatile and complete: (from the NHentai site, Info section):

Search
-You can search for multiple terms at the same time, and this will return only galleries that contain both terms. For example, "anal tanlines" finds all galleries that contain both "anal" and "tanlines"

[2017-12-31 16:21] protoloo opened #98 "support other sites"
Well it's probably an idiotic request, but could you add support for other sites too?

[2018-01-10 05:14] wightwulf1944 commented on #47
I think this issue can be closed now. Tested in 1.8.4 beta 36

[2018-01-10 05:21] wightwulf1944 commented on #78
@NotCR tested with 1.8.4 beta 36
Issue fixed

[2018-01-10 05:36] wightwulf1944 opened #99 "[Bug] App incorrectly says "This book hasn't been downloaded completely." even if it has been downloaded completely"
![screenshot_20180110-131654](https://user-images.githubusercontent.com/2737347/34757078-ed309f68-f609-11e7-8c2d-d520f8e994c5.png)

How to reproduce:
1. Completely download a book
2. Confirm that all pages has been downloaded
3. Go to saved books and select the downloaded book
4. Tap download button

Expected result: _may need discussion_
- Should the download button be hidden for downloaded books

[2018-01-10 06:06] #47 closed

[2018-02-25 17:56] randomuser112358 opened #100 "﻿App crashes if you go back before the book info loads."
Steps to reproduce:

- Select a book.
- Try going back before the book loads.
- App crashes.

Additional info:

- NHbooks 1.8.4 from F-Droid.
- Android 6.0.1.

Traceback:

[code]

[2018-02-27 12:17] fython commented on #100
Thanks for report.

[2018-05-15 15:28] RicterZ commented on #27
@nhentai Hi, doest nhentai have any tag api such as `/api/galleries/tagged?tag_name=lolicon`

[2018-05-30 13:44] protoloo opened #102 "Open in background"
Please, add an ability to open multiple books in background

[2018-05-30 13:46] protoloo opened #103 "Check mark"
Please add a check mark for the already downloaded albums (example, red check similar to blue "favorites")

[2018-05-30 13:47] protoloo opened #104 "Download from search list"
Please add an ability to download albums without opening it, directly from the search list;

[2018-05-30 13:49] protoloo opened #105 "Original albums"
Please add a tag "original" for the albums without "parodies:" tag

[2018-08-09 16:15] Xwilarg commented on #27
Hi, I don't know if it's the right place to ask, but what is the 't' value in the pages section, when you search using the API ?
![t_value](https://user-images.githubusercontent.com/20053454/43911521-fb689152-9bff-11e8-88ad-966a104b9526.png)
As you can see on the 5th element, t value is 'p', on the others it's 'j'.
Here's the URL if it can help: https://nhentai.net/api/galleries/search?query=schoo

[2018-08-10 02:34] Zerocchi commented on #27
@Xwilarg it's just the thumbnail image format. 'j' stands for JPG and 'p' stands for PNG.

[2018-08-10 10:31] Xwilarg commented on #27
Oh, thanks :)

[2018-09-06 06:24] rfann opened #106 "App crashes instantly on launch, book in favorites is null - any way to retrieve favorites?"
I know this isn't actively maintained but I've used this app for a long time (without ever updating) and this is the first time this has occurred. I totally understand if this can't be fixed due to inactivity, but I'm hoping there's at least a way for me to retrieve my favorites. It looks like there's a database used to store book information, can I pull that file out and run queries on it (not ve

[2018-09-26 01:55] jordyamc commented on #106
It seems that the favs are saved in a json file, on the files folder in internal memory, so the only way to get the file is using root

[2018-10-14 22:07] baraa272 opened #107 "Can't install over old version , bye favourites?"
I can't install the latest version over an old version with so many favourites saved ???
Bye bye favourites?

[2018-10-14 22:08] baraa272 commented on #107
![screenshot_20181015-010612](https://user-images.githubusercontent.com/32843097/46922784-cd7a4380-d016-11e8-919a-77e4b8acc0b2.png)

[2018-10-15 05:56] SharerMax commented on #107
It seem like keystore is changed，you can uninstall old version before install lasted version

[2018-10-15 06:17] baraa272 commented on #107
I know but the problem but I can't export faourites from old version ???
time to abandon my old favourites???? or is there a way  to import it ?

[2018-12-08 04:30] andy840119 commented on #27
@nhentai is the any way to get favorite list from api?
thants!

[2019-01-14 08:33] lemoneder opened #108 "Cannot connect nhentai"
I bought a new smartphone, so I reinstalled nhbook. A message saying that the connection to Nhentai has failed is displayed, and we could not open any doujinshi or manga. Since I installed it in 1.8.4, I tried using other 8.2 and 8.3, using Vpn, turning on and off the smartphone again, but the symptoms have not recovered. Is this due to temporary network failure of nhentai?

Of course, other websi

[2019-01-14 09:46] ShaunV2 commented on #108
It was working fine the other night, website appears to work though, not sure why the app is unable to connect.

[2019-01-14 10:44] Kadantte commented on #108
The nhentai api has been suspended indefinitely, was causing bandwidth issues with our frontend
[@fuckmaou](https://twitter.com/fuckmaou/status/1084550608097603585)

[2019-01-14 15:52] fython commented on #108
NHentai site admin's twitter said they suspended thrid-party api indefinitely:

Currently I haven't enough time to finish refactoring to HTML parser-based api for solving this problem. And I think @nhentai need more income from website ads to maintenance server.

Recommend to browse nhentai on your web browsers or try another doujinshi application: [EhViewer](https://github.com/seven332/EhViewer/r

[2019-01-14 16:54] PythonTryHard commented on #108
Found you an alternative app for now nClientv2

[2019-01-14 17:44] ShaunV2 commented on #108
Not wasting my time using the website when it resorts to pop up ads which appear just by scrolling through it and also when you touch any of the pages.

[2019-01-15 11:43] vpervenditti commented on #27
@nhentai hi, your api dont work
if i call https://nhentai.net/api/galleries/search?query=loli i get 404 error

pls help

[2019-01-15 12:37] vpervenditti commented on #27
@RicterZ okay but why :CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC

[2019-01-15 12:38] RicterZ commented on #27
@vpervenditti https://twitter.com/fuckmaou/status/1084550608097603585 T.T

[2019-01-15 12:41] vpervenditti commented on #27
uf

[2019-01-18 21:58] arpitn30 commented on #108
They should make an official app with ads so they can support their servers and users are happy too

[2019-04-06 21:37] otf64851 opened #109 "1.8.4版直接輸入畫廊ID會閃退"
最近因為api復活了app又能用了。
不過發現1.8.4版直接輸入畫廊ID會閃退
1.8.3版是正常的

[2019-04-11 09:40] rayriffy commented on #108
Good news is [the API now back online](https://twitter.com/fuckmaou/status/1113868849500303363) but bad news is it response doesn't comes with [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) which is important for `XMLHttpRequest`

There's a way to dodge this issue by building reverse proxy (I built serverless one [here](https://github.com/rayriffy/nh-reverse-proxy) for using with m

[2019-04-12 07:10] #106 closed

[2019-04-18 03:23] kowith337 commented on #108
@rayriffy Hi there, tahnks for your good news, I've recheck the apps and seems like everything are worked properly like old days, even you have said it's may have problem with `CORS`.
However, I'm still run on 1.8.3 (F-Droid) version and I won't upgrade to newer version because all thumbnails will use same scale but they use resize instead of crop, that's make many covers have an ugly images someh

[2019-06-23 08:52] sojibe commented on #108
anybady who can tell me the website？plz

[2019-11-25 17:00] DonaldTsang opened #110 "Passing the torch"
Since it has not been actively developed, is it possible to pass the repo to @py7hon ?
Or maybe @Ixeuticus @z7i or @stewofkc since they are the ones maintaining the application?